*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after{box-sizing: border-box;}
*::before{box-sizing: border-box;}

html, body{
    background-color: rgb(231, 230, 230);
}

header{
    background-color: rgb(6, 6, 54);
}

header h1{
    color: white;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 549;
    padding: 15px;
}

input[type = "text"]{
    width: 95%;
    margin: 9px;
    padding: 9px;
}

.adicionar{
    position: absolute;
    top: 690px;
    left: 320px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f0f02d;
    border: none;
}

.adicionar:hover{
    background-color: white;
}

.largura{
    position: relative;
    top: 13px;
    background-color: black;
    width: 50%;
    height: 3px;
    margin: auto;
}

.altura{
    position: relative;
    background-color: black;
    width: 3px;
    height: 25px;
    margin: auto;
}

ul{
    list-style-type: none;
}

select{
    margin: 10px;
    height: 30px;
    border-radius: 10px;
    border: none;
}

label{
    position: relative;
    top: 10px;
    left: 10px;
    margin-left: 3px;
}

label#text{
    top: 1px;
    left: 10px;
}

input{
    border-radius: 10px;
    border: none;
    height: 40px;
}

textarea{
    background-color: rgba(255, 255, 0, 0.377);
    width: 95%;
    height: 250px;
    margin-left: 9px;
    border-radius: 10px;
    border: none;
}

.button{
    display: flex;
    justify-content: space-evenly;
}

p button{
    font-size: 1.1rem;
    color: white;
    width: 45%;
    height: 40px;
    margin-top: 100px;
    padding: 5px;
    border: none;
}

p button:nth-child(1){
    background-color: red;
}

p button:nth-child(2){
    background-color: blue;
}

button img {
    position: relative;
    left: -20px;
    top: 2px;
    color: white;
    width: 20px;
    height: 20px;
}
/* Criado em javascript*/
.voltar{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    left: 5px;
}

.span{
    position: absolute;
    top: 22px;
    left: 40px;
}