*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after{box-sizing: border-box;}
*::before{box-sizing: border-box;}

html, body{
    background-color: rgb(199, 199, 199);
}

header{
    background-color: rgb(6, 6, 54);
}

header h1{
    color: white;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 549;
    padding: 15px;
}

input[type = "text"]{
    width: 95%;
    margin: 9px;
    padding: 9px;
}

